/target/
/app/target/
/driver/objs/
/driver/outputs/
/dist/
*.obj
*.pdb
*.sys
*.cat
*.ilk
*.log
*.dmp
*.dump
*.pfx
*.pvk
*.cer
*.user
*.suo
*.VC.db
.vs/
.idea/
.vscode/
*.csv
*.jsonl
*.scall
syscalls*.txt
.DS_Store
Thumbs.db
